@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}


a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

/* main.css */
.stDownloadButton button {
    background-color: #2563eb; /* blue */
    color: #fff; /* white text */
    font-weight: bold;
    border-radius: 5px;
}
.stDownloadButton button:hover {
    background-color: #1e40af; /* darker blue on hover */
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}
body, .stApp {
    background-color: #181818 !important;
    color: #ffffff !important;
}
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
